<div class="container">
  <h2>Vorhandene JSON-Konfigurationen</h2>
  <button class="btn add-btn" (click)="onNewConfig()">Neue Konfiguration</button>

  <div class="table-container" *ngIf="jsonConfigs.length > 0">
    <table>
      <thead>
        <tr>
          <th>Dateiname</th>
          <th class="action">Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let configFile of jsonConfigs">
          <td class="clickable" (click)="onConfigClick(configFile)">
            {{ configFile }}
          </td>
          <td class="actions">
            <button class="btn edit-btn" (click)="onConfigClick(configFile)">Bearbeiten</button>
            <!-- Neuer Button "Ergebnisse" -->
            <button class="btn results-btn" (click)="onResultsClick(configFile)">Ergebnisse</button>
            <button class="btn delete-btn" (click)="onDeleteConfig(configFile)">Löschen</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <p *ngIf="jsonConfigs.length === 0" class="no-db-message">
    Keine JSON-Konfigurationen gefunden.
  </p>
</div>
