/* Globaler Reset für alle Elemente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Sicherstellen, dass html und body den kompletten Hintergrund einnehmen */
  html, body {
    width: 100%;
    height: 100%;
    background-color: #1E2532; /* Dein Dunkelblau */
  }
  